@import 'variables';

.AudioToggleButton,
.AudioToggleButton--off {
    border: none;
    border-radius: 3px;
    height: 2.5rem;
    width: 3.75rem;
    outline: none;

    &:focus {
        box-shadow:
        0 0 0 0.1rem white,
        0 0 0 $c2lc-focus-indicator-width black;
    }

    &:hover {
        background-color: #F5C58A;
    }
}


.AudioToggleButton {
    background-color: #4C9990;
}

.AudioToggleButton--off {
    background-color: #B9BEC6;
}

