@import 'variables';

.RefreshButton svg path {
    stroke: none;
}

.RefreshButton {
    margin: auto 0;
}

.RefreshButton.RefreshButton--disabled,
.RefreshButton.RefreshButton--disabled:hover,
.RefreshButton.RefreshButton--disabled:active {
    cursor: default;
}

.RefreshButton--disabled svg {
    .refresh-icon {
        fill: #67717E;
        stroke: #9DA4AF;        
    }

    circle {
        stroke: none;
        fill: #9DA4AF;
    }

    path.inner-circle {
        fill: #B9BEC6;
    }

    rect.refresh-icon {
        stroke: #9DA4AF;
        fill: #B9BEC6;
    }
}
