@import 'variables';

// Grid for Scene-container is set in App.scss
.Scene__container {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px auto;
}

.Scene__background {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: #CCE6E2;
}

.Scene {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: scroll;
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
}

.Scene > svg {
    width: 1430px;
}

.Scene__row-header {
    overflow: scroll;
    fill: #CCE6E2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Scene__row-header > svg {
    width: 30px;
    height: 900px;
}

.Scene__row-header::-webkit-scrollbar {
    display: none;
}

.Scene__column-header {
    fill: #CCE6E2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Scene__column-header::-webkit-scrollbar {
    display: none;
}

.Scene__column-header > svg {
    width: 1450px;
    height: 30px;
}

.Scene__grid-line {
    stroke: #DDD;
    stroke-width: 0.01;
}

.Scene__grid-label {
    fill: #555;
    font: bold 2.5px sans-serif;
}

.Scene__path-line {
    stroke: #222;
    stroke-width: 0.03;
    stroke-linecap: round;
}

.Scene__resize-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 0;
}

.Scene__resize-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: $c2lc-primary-button-color;
}

.Scene__resize-button:focus {
    outline: none;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

.Scene__resize-button:hover {
    box-shadow: 0 0 0 $c2lc-hover-indicator-width $c2lc-focus-indicator-color;
    background-color: #e5e5e5;
}

.Scene-collapsed .Scene__container {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 11rem;
    max-width: 26rem;
    grid-template-columns: 10px auto;
    grid-template-rows: 20px auto;
}

.Scene-collapsed .Scene__background {
    left: 0.15rem;
    top: 0.75rem;
    height: 10.5rem;
}

.Scene-collapsed .Scene > svg {
    width: 26rem;
}

.Scene-collapsed .Scene__column-header > svg {
    width: 26rem;
    height: 20px;
}

.Scene-collapsed .Scene__row-header > svg {
    width: 10px;
    height: 16rem;
}
